.endpoint-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.endpoint-main {
    position: relative;
    min-height: 100%;
}

.endpoint-body {
    padding-left: em(180px);
    padding-right: 0;
    min-height: em(380px);
    @include clearfix;
}

%fixed-page {
    overflow: hidden;
}

%fixed-main {
    min-height: initial;
}

%pretty-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: $lightest-grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: darken($lightest-grey, 10%);
        @include transition(background .25s ease);
        &:hover {
            background: darken($lightest-grey, 17.5%);
        }
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: darken($lightest-grey, 5%);
    }
}

.fixed-low-res {
    &.endpoint-page {
        @extend %fixed-page;
    }

    .endpoint-main {
        @extend %fixed-main;
    }

    .tab-content-main {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @extend %pretty-scrollbar;
    }
}

.fixed-high-res {
    &.endpoint-page {
        @extend %fixed-page;
    }

    .endpoint-main {
        @extend %fixed-main;
    }

    .tab-content-body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @extend %pretty-scrollbar;
    }

    .tab-content-footer {
        @include modernizr(cssscrollbar) {
            padding-right: em(26px);
        }
        html.no-cssscrollbar.no-hiddenscroll & {
            padding-right: em(37px);
        }
    }
}
