body {
    background-color: #e0dfdf;
    text-align: center;
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 100%;
}

/** TYPOGRAPHY **/

.welcome {
    font-size: 2.25em;
    font-weight: 300;
}

.search-tips {
    font-size: 1.25em;
    font-weight: 300;
}

.typeahead,
.tt-query,
.tt-hint {
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.endpoint-container {
    font-size: 1.5em;
}

.summary {
    font-size: 1.125em;
    font-style: italic;
    font-weight: 300;
}

.command-title {
    font-size: 2.25em;
    font-weight: 400;
}

.other-methods {
    font-size: 1em;
    font-weight: 300;
}

.method {
    font-size: 0.875em;
}

.command-summary {
    font-style: italic;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
}

.command-container h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.params td {
    font-size: 1.125em;
}

.params td .muted {
    font-weight: 300;
}

.param {
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

.try-it {
    font-size: 1.125em;
    font-weight: 300;
}


/** COLOR **/

body {
    color: #393939;
}

.param {
    color: #393939;
}

.typeahead,
.tt-query,
.tt-hint {
    color: #898989;
}

.uri {
    color: #393939;
}


/** LAYOUT **/

.params td {
    vertical-align: text-top;
}

.param-input {
    text-align: right;
}




.foo {
    background-color: #32dcb5;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 622px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;
}

.welcome {
    color: #898989;
    text-align: center;
}

.search-tips {
    color: #898989;
    text-align: center;
}

.container {
    text-align: center;
}

.tt-dropdown-menu {
    text-align: left;
    background-color: #fff;
    margin-top: 20px;
    width: 644px;
    border: 2px solid #fff;
}

.method {
    color: #898989;
}

.summary {
    color: #898989;
}

.endpoint-container {
    padding-left: 20px;
}

.endpoint-GET {
    color: #0094cd;
}

.endpoint-PUT {
    color: #ffcb37;
}

.endpoint-POST {
    color: #43c28b;
}

.endpoint-DELETE {
    color: #d52932;
}

.uri-param {
    color: #898989;
}

.search-result {
    border-bottom: 1px solid #e0dfdf;
    padding: 0px 12px;
}

.command-title-container {
    width: 960px;
    margin: 0px auto;
    text-align: left;
    margin-bottom: 40px;
}

.command-container {
    background-color: #fff;
    width: 960px;
    margin: 0px auto;
    clear: both;
    padding: 20px;
}

.command-title {
    margin-bottom: 5px;
}

.other-methods {
    float: left;
    margin-top: 5px;
    color: #898989;
}

.related-methods {
    float: left;
    margin-top: 1px;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 40px;
}

.related-methods li {
    float: left;
    margin-left: 5px;
}

.related-methods a {
    text-decoration: none;
    padding: 2px 5px;
}

.related-methods .unimplemented-method {
    padding: 2px 5px;
    background-color: #898989;
}

.related-method-GET {
    background-color: #0094cd;
    color: white;
}

.related-method-PUT {
    background-color: #ffcb37;
    color: white;
}

.related-method-DELETE {
    background-color: #d52932;
    color: white;
}

.related-method-POST {
    background-color: #43c28b;
    color: white;
}

.command-summary {
    color: #898989;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 700px;
}

.command-container h3 {
    text-align: left;
}

.try-it {
    background-color: #43c28b;
    color: white;
    padding: 5px 10px;
    border: 0px;
}

.button-container {
    text-align: right;
    margin-bottom: 20px;
}

.param {
    background-color: #e9e9e9;
    border: 0px;
    padding: 5px;
}

.muted {
    color: #898989;
}

.params {
    text-align: left;
    display: table;
    width: 100%;
}

.params td {
    padding-bottom: 20px;
}

.param-key {
    width: 30%;
}

.param-desc {
    width: 70%;
    padding-right: 10px;
}

.param-input {
    width: 10%;
}

pre {
    text-align: left;
    overflow: auto;
}

.base-resources {
    text-align: left;
    width: 960px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    list-style-type: none;
}

.base-resources a {
    text-decoration: none;
    color: #393939;
}

.resources {
    text-align: left;
    width: 960px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
}
