body {
    background: #f0eeee;
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 100%;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="url"],
select {
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

/** COMPONENTS **/

.primary-button {
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #fefdfd;
    background: #43c28b;
    border: none;
    box-shadow: none;
    padding: 0.45em 2.85em;
    border-radius: 2px;
}

/** TYPOGRAPHY **/

.navigation-item {
    font-size: 0.875em;
}

.navigation-item a {
    text-decoration: none;
}

.feature-title {
    font-size: 2.25em;
    font-weight: 300;
}

.feature-or {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
}

.feature-button {
    font-size: 1.5em;
}

.search-tip {
    font-size: 1.25em;
    font-weight: 300;
}

.typeahead,
.tt-query,
.tt-hint {
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.endpoint-container {
    font-size: 1.5em;
}

.summary {
    font-size: 1.125em;
    font-style: italic;
    font-weight: 300;
}

.page-header-title {
    font-size: 2.25em;
    font-weight: 400;
}

.credentials-info {
    font-weight: 300;
    font-size: 1.125em;
}

.endpoint-method {
    font-weight: 300;
}

.related-method a {
    text-decoration: none;
}

.method {
    font-size: 0.875em;
}

.base-resource {
    font-size: 1.5em;
}

.base-resource a {
    text-decoration: none;
}

.command-summary {
    font-style: italic;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
}

.command-container h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.params td {
    font-size: 1.125em;
}

.params td .muted {
    font-weight: 300;
}

.param {
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

.try-it {
    font-size: 1.125em;
}

.environment-name {
    font-weight: 400;
}

.environment-base-url {
    font-weight: 300;
    font-size: 1.125em;
}

.credential-label {
    font-size: 1.125em;
}


/** COLOR **/

body {
    color: #393939;
}

.navigation {
    background: #fefdfd;
}

.navigation-item a {
    color: #a8a8a8;
}

.navigation-item a:active {
    color: #898989;
}

.feature-or {
    color: #898989;
}

.typeahead,
.tt-query,
.tt-hint {
    color: #898989;
    border: 1px solid #dadada;
}

.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
    border: 1px solid #afafaf;
}

.tt-query {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT5zZWFyY2hfaWNvbl9saWdodDwvdGl0bGU+PHBhdGggZD0iTTI2LjU2NCAzMS44MTdsLTYuODM0LTYuNzQ3Yy0xLjg3MyAxLjIxLTQuMTEyIDEuOTItNi41MjggMS45Mi02LjU4NyAwLTExLjkxNC01LjI3MS0xMS45MTQtMTEuNzczIDAtNi40OSA1LjMyNi0xMS43NjEgMTEuOTE0LTExLjc2MSA2LjU3NiAwIDExLjkxMiA1LjI3MSAxMS45MTIgMTEuNzYxIDAgMi4yNy0uNjQ3IDQuMzg1LTEuNzY3IDYuMTc3bDYuODgzIDYuNzk0Yy4zNjQuMzUuMDU5IDEuMjIyLS42NzIgMS45NDJsLTEuMDI1IDEuMDE0Yy0uNzMxLjcyLTEuNjE1IDEuMDIyLTEuOTY5LjY3M3ptLTUuNDA4LTE2LjYwMWMwLTQuMzQtMy41NTktNy44NTMtNy45NTQtNy44NTMtNC4zOTYgMC03Ljk2NiAzLjUxMy03Ljk2NiA3Ljg1M3MzLjU3IDcuODY0IDcuOTY2IDcuODY0YzQuMzk1IDAgNy45NTQtMy41MjQgNy45NTQtNy44NjR6bTAgMCIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgZmlsbD0iI0M1QzNDNCIvPjwvc3ZnPg==') no-repeat 0.85em 0.85em; 
    background-size: 1em;
}

.tt-query::-webkit-input-placeholder {
    color: #cacaca;
}

/* Ye Olde Firefox */
.tt-query:-moz-input-placeholder {
    color: #cacaca;
}

.tt-query::-moz-input-placeholder {
    color: #cacaca;
}

.tt-query::-ms-input-placeholder {
    color: #cacaca;
}

.tt-hint {
    background: #fff !important;
}

.tt-dropdown-menu {
    background: #fefdfd;
}

.method {
    color: #898989;
}

.page-header-title {
    color: #898989;
}

.endpoint-title {
    color: #393939;
}

.credentials-info {
    color: #898989;
}

.endpoint-method {
    color: #898989;
}

.related-method,
.related-method a {
    color: #5c5c5c;
}

.related-method-GET.active {
    border-bottom: 2px solid #0094cd;
}

.related-method-PUT.active {
    border-bottom: 2px solid #ffcb37;
}

.related-method-POST.active {
    border-bottom: 2px solid #43c28b;
}

.related-method-DELETE.active {
    border-bottom: 2px solid #d52932;
}

.unimplemented-method {
    color: #cacaca;
}

.base-resource {
    border-bottom: 1px solid #e0dfdf;
}

.base-resource a {
    color: #393939;
}

.param {
    color: #393939;
}

.uri {
    color: #393939;
}

.environment-name {
    color: #898989;
}

.environment-base-url {
    color: #898989;
}

.credential-label {
    background: #fefdfd;
}

.credential-option {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT51bmNoZWNrZWQ8L3RpdGxlPjxjaXJjbGUgc3Ryb2tlPSIjQ0FDQUNBIiBzdHJva2Utd2lkdGg9IjMiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==') no-repeat center center;
}

.environment-credential input:checked + .credential-option {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT5jaGVjazwvdGl0bGU+PHBhdGggZD0iTTkuMTU4IDEzLjQ1MWw3LjQ4OS03LjQ4OWMuMTg1LS4xODUuNDk1LS4xODYuNjg1LjAwNGwxLjI4OSAxLjI4OWMuMTg5LjE4OS4xOTIuNDk3LjAwNC42ODVsLTcuNzU5IDcuNzU5LS4wNjQuMDc4LTEuMzg0IDEuMzg0Yy0uMTkzLjE5My0uNDkyLjE5LS42NzguMDA0bC01LjI4MS01LjI4MWMtLjE5LS4xOS0uMTg0LS40OS4wMDQtLjY3OGwxLjM4NC0xLjM4NGMuMTkzLS4xOTMuNDkyLS4xOS42NzgtLjAwNGwzLjYzMiAzLjYzMnptMS44NDIgOC41NDljNi4wNzUgMCAxMS00LjkyNSAxMS0xMXMtNC45MjUtMTEtMTEtMTEtMTEgNC45MjUtMTEgMTEgNC45MjUgMTEgMTEgMTF6bTAgMCIgZmlsbD0iIzQzQzI4QiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIvPjwvc3ZnPg==') no-repeat center center;
}


/** LAYOUT **/

.navigation {
    padding: 0;
}

.navigation-list {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation-item {
    display: inline-block;
}

.navigation-item a {
    padding: 0.75em 1.4285em 0.85em;
    display: block;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.feature-container {
    text-align: center;
    padding-bottom: 4em;
    -webkit-transform: translateY(7.5em);
       -moz-transform: translateY(7.5em);
        -ms-transform: translateY(7.5em);
         -o-transform: translateY(7.5em);
            transform: translateY(7.5em);
}

.feature-container.feature-active {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

.feature-title {
    margin-top: 0;
}

.feature-active .feature-title {
    opacity: 0;
}

.feature-active .feature-or {
    opacity: 0;
}

.feature-button {
    display: inline-block;
}

.feature-active .feature-button {
    opacity: 0;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 622px;
    padding: 0.7083em 0.6667em 0.6667em 2.5em;
    outline: none;
}

.tt-dropdown-menu {
    width: 100%;
}

.page-header {
    margin: 4.065em 0;
    padding: 0 1.25em;
}

.page-header-title {
    margin: 0;
}

.endpoint-title {
    margin: 0 0 0.4166em -0.1em;
}

.related-methods {
    list-style: none;
    padding: 0;
    margin: 0;
}

.related-method {
    display: inline-block;
    margin-right: 1.25em;
}

.related-method .method {
    display: inline-block;
    padding-bottom: 0.2em;
}

.base-resource a {
    display: block;
    padding: 0.8333em;
}

.search-result {
    padding: 1.25em;
}

.endpoint-container {
    margin: 0 0 0.5em;
}

.summary {
    margin: 0;
}

.params td {
    vertical-align: text-top;
}

.param-input {
    text-align: right;
}

.environment-list {
    list-style: none;
    padding: 0 20px;
    margin: 0;
}

.environment {
    margin-bottom: 3.5em;
}

.environment-credential-list {
    list-style: none;
    margin: 0.85em 0 0 0;
    padding: 0;
}

.environment-name {
    display: inline-block;
}

.environment-base-url {
    display: inline-block;
    float: right;
    line-height: 2em;
}

.environment-credential {
    position: relative;
    z-index: 0;
    display: block;
}

.credential-label {
    display: block;
    border-radius: 0.1875em;
    width: 100%;
    padding: 0.6em 1.25em;
    margin: 0 0 0.8em -1.25em;
    z-index: 1;
}

.environment-credential input {
    position: absolute;
    display: block;
    width: 1.5em;
    height: 1.5em;
    right: 0;
    top: 50%;
    opacity: 0;
    z-index: 3;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.credential-option {
    position: absolute;
    display: block;
    width: 1.5em;
    height: 1.5em;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 1.25em;
}


/** BEHAVIOUR **/

.feature-container {
    -webkit-transition: -webkit-transform 0.45s ease;
       -moz-transition: -moz-transform 0.45s ease;
         -o-transition: -o-transform 0.45s ease;
            transition: transform 0.45s ease;
}

.feature-title,
.feature-or,
.feature-button {
    -webkit-transition: opacity 0.45s ease;
       -moz-transition: opacity 0.45s ease;
         -o-transition: opacity 0.45s ease;
            transition: opacity 0.45s ease;
}

.typeahead,
.tt-query,
.tt-hint {
    -webkit-transition: border 0.45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition: border 0.45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition: border 0.45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition: border 0.45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.search-result {
    cursor: pointer;
}

.environment-credential input,
.credential-label,
.credential-option {
    cursor: pointer;
}




.foo {
    background-color: #32dcb5;
}

.feature-title {
    color: #898989;
    text-align: center;
}

.search-tip {
    color: #898989;
    text-align: center;
}

.tt-dropdown-menu {
    text-align: left;
    margin-top: 20px;
}

.summary {
    color: #898989;
}

.endpoint-container {
    padding-left: 20px;
}

.endpoint-GET {
    color: #0094cd;
}

.endpoint-PUT {
    color: #ffcb37;
}

.endpoint-POST {
    color: #43c28b;
}

.endpoint-DELETE {
    color: #d52932;
}

.uri-param {
    color: #898989;
}

.search-result {
    border-bottom: 1px solid #e0dfdf;
}

.command-title-container {
    margin: 0px auto;
    text-align: left;
    margin-bottom: 40px;
    padding: 0;
    clear: both;
}

.command-container {
    background-color: #fefdfd;
    margin: 0px auto;
    clear: both;
    padding: 20px;
    box-sizing: border-box;
}

.command-title {
    margin-bottom: 5px;
}

.other-methods {
    float: left;
    margin-top: 5px;
    color: #898989;
}

.command-summary {
    color: #898989;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 700px;
}

.command-container h3 {
    text-align: left;
}

.button-container {
    text-align: right;
    margin-bottom: 20px;
}

.param {
    background-color: #e9e9e9;
    border: 0px;
    padding: 5px;
}

.muted {
    color: #898989;
}

.params {
    text-align: left;
    display: table;
    width: 100%;
}

.params td {
    padding-bottom: 20px;
}

.param-key {
    width: 30%;
}

.param-desc {
    width: 70%;
    padding-right: 10px;
}

.param-input {
    width: 10%;
}

pre {
    text-align: left;
    overflow: auto;
}

.base-resources {
    text-align: left;
    margin: 0 auto;
    background-color: #fefdfd;
    padding: 0;
    list-style-type: none;
}

.resources {
    text-align: left;
    margin: 0 auto;
    background-color: #fefdfd;
    padding: 0;
}

.resource-method {
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    color: #898989;
    font-size: 18px;
}

.resources h3 {
    display: inline-block;
}

