html {
    color: $base-text-color;
    background: $base-background-color;
}

a {
    color: $link-color;
}

input {
    color: $input-text-color;
    background: $input-background-color;
    border-color: $input-border-color;
    &:focus {
        color: $input-focus-text-color;
        background: $input-focus-background-color;
        border-color: $input-focus-border-color;
    }
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=file],
button {
    color: $base-text-color;
    &:focus {
        color: $base-text-color;
    }
}

@include input-placeholder() {
    color: $input-placeholder-color;
}
