$input-transition-duration: 0.25s;
$input-transition-timing-function: ease-out;

input {
    border-width: 2px;
    border-style: solid;
    @include transition(
        color $input-transition-duration $input-transition-timing-function,
        border-color $input-transition-duration $input-transition-timing-function
    );
    &:focus {
        outline: none;
    }
}

