@-o-viewport {
    width: device-width;
    zoom: 1;
}

@-ms-viewport {
    width: device-width;
    zoom: 1;
}

.container {
    max-width: $base-max-content-width;
    margin: 0 auto;
}

.full-width-container {
    @media only screen and (min-width: em(1121px, 16px)) {
        margin: 0 em(60px);
    }
}

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &:focus,
    &:active {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

