// Fonts

$font-path: '../type/';
$base-font-stack: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;

// Typography

$base-font-size: 18px; // Base font-size at largest breakpoint.
$heading-font-weight: 400;


// Layout



// Color

$black: #393939;
$dark-grey: #5C5C5C;
$mid-grey: #898989;
$light-grey: #CACACA;
$lightest-grey: #F0EEEE;
$white: #FEFDFD;
$yellow: #FFCE0A;
$green: #00CA8E;
$blue: #0093D0;
$red: #EA000E;

$base-text-color: $dark-grey;
$base-background-color: $white;

