.endpoint-header {
    padding-left: em(180px);
    position: relative;
    z-index: 1;
    @include endpoint-method-colors(background, '::before');
}

.endpoint-header::before {
    content: "";
    display: block;
    width: em(98px);
    height: em(98px);
    border-radius: em(60px);
    position: absolute;
    left: em(30px);
    top: 50%;
    @include transform(translateY(-50%));
}

.endpoint-header::after {
    content: attr(data-method);
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3.33px;
    display: block;
    color: #fefdfd;
    border-radius: em(60px, 20px);
    position: absolute;
    left: em(30px, 20px);
    top: 50%;
    @include transform(translateY(-50%));
    text-align: center;
    width: em(98px, 20px);
}

.endpoint-title {
    @include word-break;
    color: $black;
    .uri-param {
        color: $mid-grey;
    }
}

.endpoint-title-method {
    color: $mid-grey;
    font-weight: 300;
}

.endpoint-summary {
    @extend .page-header-subhead;
}

%endpoint-header-meta-item {
    display: inline-block;
}

.endpoint-header-meta {
    @extend %endpoint-header-meta-item;
    margin: 0 em(8px) 0 0;
    font-size: em(16px);
    &::after {
        content: "•";
        color: $mid-grey;
        margin-left: em(8px);
    }
    &:last-of-type::after {
        display: none;
    }
}

.endpoint-header-meta-key {
    @extend %endpoint-header-meta-item;
    color: $mid-grey;
    &::after {
        content: ":";
    }
}

.endpoint-header-meta-value {
    @extend %endpoint-header-meta-item;
    margin: 0;
}
