{% extends "layout.twig" %}

{% block content %}
<h1 class="welcome">Search endpoints</h1>
<div class="container">
    <input type="text" class="typeahead tt-query" autofocus placeholder="e.g. GET users">
</div>
<p class="search-tips">or</p>
<a href="/directory/" class="browse-directory-button">Browse the directory</a>

<script type="text/template" id="template">
    <div class="search-result">
        <ul class="endpoint-container">
            <li class="endpoint-<%= method %>"><span class="method"><%= method %></span> <span class="uri"><%= formattedUri %></span></li>
        </ul>
        <p class="summary"><%= summary %></p>
    </div>
</script>

<script type="text/javascript">
$(function() {
    localStorage.clear();

    template = _.template($('#template').html());

    $('.typeahead').typeahead({
        name: 'commands',
        prefetch: '/data/commands.json',
        template: template,
        limit: 16
    });

    $('.typeahead').on('typeahead:selected', function (event, datum) {
        window.location.href = datum.path;
    });
});
</script>
{% endblock %}
