{% extends "layout.twig" %}

{% block title %}Search endpoints{% endblock %}

{% block content %}
<div class="container feature-container">
    <h1 class="feature-title">Search endpoints</h1>
    <input type="text" class="typeahead tt-query">
    <div class="search-tips" hidden>
        <p class="search-tip">Start typing the route you’re looking for.</p>
        <p class="search-tip">If you’re looking for a specific method include it in your search, e.g. ‘GET brands’</p>
    </div>
    <p class="feature-or">or</p>
    <a href="/directory" class="primary-button feature-button">Browse the directory</a>
</div>

<script type="text/template" id="template">
    <div class="search-result">
        <ul class="endpoint-container">
            <li class="endpoint-<%= method %>"><span class="method"><%= method %></span> <span class="uri"><%= formattedUri %></span></li>
        </ul>
        <p class="summary"><%= summary %></p>
    </div>
</script>

<script type="text/javascript">
$(function() {
    localStorage.clear();

    $('.typeahead').one('focus', function () {
        var feature = $('.feature-container');
        $(feature).addClass('feature-active');

        setTimeout(function() {
            $(feature).find('.feature-or, .feature-button').attr('hidden', true);
            $(feature).find('.search-tips').attr('hidden', false);
        }, 500);
    });

    template = _.template($('#template').html());

    $('.typeahead').typeahead({
        name: 'commands',
        prefetch: '/data/commands.json',
        template: template,
        limit: 16
    });

    $('.typeahead').on('typeahead:selected', function (event, datum) {
        window.location.href = datum.path;
    });
});
</script>
{% endblock %}
