{% extends "layout.twig" %}

{% block title %}Search endpoints{% endblock %}

{% block content %}
<div class="container feature js-feature">
    <h1 class="feature__title">Search endpoints</h1>
    <div class="search">
        <input type="search" class="search__input js-search-input" placeholder="e.g. GET users">
    </div>
    <p class="feature__search-tip js-feature-search-tip" hidden>Start typing the route you’re looking for.</p>
    <p class="feature__or js-feature-intro">or</p>
    <a href="/directory/" class="feature__button js-feature-intro">Browse the directory</a>
</div>

<div class="container">
    <ol class="js-command-list search-results">
        
    </ol>
</div>

<script type="text/template" id="template">
    <li class="search-result">
        <a href="<%= path %>" class="search-result__link">
            <h2 class="search-result__title endpoint-method-<%= method %> endpoint-list-title">
                <span class="endpoint-list-method"><%= method %></span> <span class="endpoint-list-uri"><%= formattedUri %></span>
            </h2>
            <% if (summary) { %>
                <p class="search-result-summary endpoint-list-summary"><%= summary %></p>
            <% } %>
        </a>
    </li>
</script>

<script>
$(function() {
    var searchField = $('.js-search-input'),
        commandList = $('.js-command-list'),
        template = null,
        commands = null;

    localStorage.clear();

    searchField.one('focus', function () {
        var feature = $('.js-feature');
        $(feature).addClass('active');

        setTimeout(function() {
            $(feature).find('.js-feature-intro').attr('hidden', true);
            $(feature).find('.js-feature-search-tip').attr('hidden', false);
        }, 500);
    });

    template = _.template($('#template').html());

    commands = new Bloodhound({
        datumTokenizer: function (d) {
            return d.tokens;
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '/data/commands.json',
        limit: 16
    });

    commands.initialize();

    searchField.on('keyup', function (evt) {
        var query = evt.currentTarget.value;

        commandList.empty();

        commands.get(evt.currentTarget.value, function (suggestions) {
            _.each(suggestions, function (suggestion) {
                commandList.append(template(suggestion));
            });
        });
    });
});
</script>
{% endblock %}
