{% extends 'layout.twig' %}

{% block title %}Directory{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="page-header-title">Directory</h1>
    </div>
    <ul class="base-resources datalist">
        {% for resource in baseResources %}
            <li class="base-resource datalist-item">
                <a href="/directory/{{ resource }}.html" class="datalist-item-link">
                    <h2 class="datalist-item-title">{{ resource|split("-")|join(" ")|capitalize }}</h2>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
