{% extends 'layout.twig' %}

{% block title %}Directory{% endblock %}

{% block content %}

<div class="header" role="banner">
    <div class="container">
        <h1 class="header__title">The Directory</h1>
        <p class="header__description">A full A-Z index of endpoints in our API</p>
    </div>
</div>

<div role="main" class="container">
    <ol class="card__list">
        {% for resource in baseResources %}
            <li class="card">
                <a href="/directory/{{ resource }}.html" class="card__link">
                    <h2 class="card__title">{{ resource|split("-")|join(" ")|capitalize }}</h2>
                    <p class="card__description">/{{ resource }}</p>
                </a>
            </li>
        {% endfor %}
    </ol>
</div>

<div class="container--medium">
    {% include 'footer.twig' %}
</div>

{% endblock %}
