{% extends 'layout.twig' %}

{% block title %}Directory{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="page-header-title">Directory</h1>
    </div>
    <ul class="base-resources">
        {% for resource in baseResources %}
            <li class="base-resource"><a href="/directory/{{ resource }}.html">{{ resource|split("-")|join(" ")|capitalize }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
