{% extends 'layout.twig' %}

{% block content %}
<h1 class="welcome">Directory</h1>
<ul class="base-resources">
    {% for resource in baseResources %}
        <li><a href="/directory/{{ resource }}.html">{{ resource|split("-")|join(" ")|capitalize }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
