<div class="footer" role="contentinfo">
    <p class="footer__copy">Last updated <time class="footer__timestamp js-updated-date" datetime="{{ generated|date('Y-m-d H:i+00:00', 'UTC') }}" title="{{ generated|date('F j, Y, H:i', 'UTC') }}">{{ generated|date('F j, Y, H:i', 'UTC') }}</time></p>
    <p class="footer__attribution">Powered by <a target="_newtab" href="http://service-docs.adeslade.co.uk" title="Service Docs" class="footer__branding"><span>Service Docs</span></a></p>
</div>
