<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/application.css" rel="stylesheet">
    <script src="/js/vendor/modernizr/modernizr.2.7.min.js"></script>
    <script src="/js/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="/js/vendor/bloodhound.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/prism.js"></script>
</head>
<body>
    <div class="navigation">
        <a href="/" class="logo-mark navigation-logo">
            <span class="s">Service</span> <span class="d">Docs</span>
        </a>
        <ul class="navigation-list" role="navigation">
            <li class="navigation-item navigation-item-search">
                <a class="navigation-item-control" href="/index.html">
                    <span>Search</span>
                </a>
            </li>
            <li class="navigation-item navigation-item-directory">
                <a class="navigation-item-control" href="/directory/">
                    <span>Directory</span>
                </a>
            </li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
