<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/typeahead.js/typeahead.js"></script>
<script type="text/javascript" src="/js/underscore-min.js"></script>
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
