<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/application.css" rel="stylesheet">
    <script src="/js/vendor/modernizr/modernizr.2.7.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/typeahead.js/typeahead.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/prism.js"></script>
</head>
<body>
    <div class="navigation">
        <ul class="navigation-list" role="navigation">
            <li class="navigation-item"><a href="/index.html">Search</a></li>
            <li class="navigation-item"><a href="/directory/">Directory</a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
