.clearable-input-container {
    display: inline-block;
    position: relative;
}

.clearable-input {
    &::-webkit-inner-spin-button {
        display: none;
    }
    &::-ms-clear {
        display: none;
    }
}

.clearable-input-control {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.65em;
    height: 2em;
    background: url(
        inline-image(
            'PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT5DbGVhcjwvdGl0bGU+PHBhdGggZD0iTTggOS45MTRsLTMuNzI3IDMuNzI3Yy0uMjAxLjIwMS0uNTE2LjIwMi0uNzEuMDA4bC0xLjIxMi0xLjIxMmMtLjE4OC0uMTg4LS4xOS0uNTEyLjAwOC0uNzFsMy43MjctMy43MjctMy43MjctMy43MjdjLS4xOTgtLjE5OC0uMTk2LS41MjItLjAwOC0uNzFsMS4yMTItMS4yMTJjLjE5NC0uMTk0LjUwOS0uMTkzLjcxLjAwOGwzLjcyNyAzLjcyNyAzLjcyNy0zLjcyN2MuMjAxLS4yMDEuNTE2LS4yMDIuNzEtLjAwOGwxLjIxMiAxLjIxMmMuMTg4LjE4OC4xOS41MTItLjAwOC43MWwtMy43MjcgMy43MjcgMy43MjcgMy43MjdjLjE5OC4xOTguMTk2LjUyMi4wMDguNzFsLTEuMjEyIDEuMjEyYy0uMTk0LjE5NC0uNTA5LjE5My0uNzEtLjAwOGwtMy43MjctMy43Mjd6IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBmaWxsPSIjODk4OTg5Ii8+PC9zdmc+',
            svg
        )
    ) no-repeat center center;
    border: none;
    opacity: 0.5;
    @include transition(opacity 0.25s ease-out);
    &:active {
        opacity: 1;
    }
    .clearable-input:focus + & {
        opacity: 1;
    }
    span {
        @extend %visuallyhidden;
    }
}

