$feature-transition-duration: 0.45s;
$feature-transition-timing-function: ease;

%feature-fade-transition {
    @include transition(
        opacity
        $feature-transition-duration
        $feature-transition-timing-function
    );
    .feature.active & {
        opacity: 0;
    }
}

.feature {
    font-size: 24px;
    text-align: center;
    color: $mid-grey;
    padding-bottom: em(16px);
    @include transform(translateY(em(120px)));

    // Welcome to vendor prefix crazy town.
    @include transition(
        all
        $feature-transition-duration
        $feature-transition-timing-function
    );
    @each $transform-vendor in (webkit, moz, ms, o) {
        -#{$transform-vendor}-transition-property: #{$transform-vendor}-transform;
    }
    @include transition-property(transform);

    &.active {
        @include transform(translateY(0));
    }
}

.feature__title {
    font-size: em(36px, 24px);
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    @extend %feature-fade-transition;
}

.feature__or {
    font-size: em(24px, 24px);
    font-weight: 300;
    font-style: italic;
    @extend %feature-fade-transition;
}

.feature__button {
    font-size: em(24px, 24px);
    display: inline-block;
    @extend .button__primary;
    @extend %feature-fade-transition;
}

.feature__search-tip {
    font-size: em(20px, 24px);
    font-weight: 300;
}
