.footer {
    height: em(45px);
    margin: em(110px) 0 em(35px);
    position: relative;
}

.footer__copy {
    color: $secondary-text-color;
    display: inline-block;
    font-size: em(14px);
    margin: 0;
    position: absolute;
    top: 50%;

    @include transform(translateY(-50%));
}

.footer__timestamp {
    font-weight: 600;
}

.footer__attribution {
    @extend .footer__copy;
    right: 0;
}

.footer__branding {
    display: inline-block;
    padding: 0 em(48px, 14px) 0 0;
}

.footer__branding::after {
    background-image: url(
        inline-image(
            'PHN2ZyB2aWV3Qm94PSIwIDAgNDUgNDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBmaWxsPSIjQzBDNUNFIj4KICAgICAgICAgICAgPHBhdGggZD0iTTE5LjYwMjg0NTUsMC43NzYyOTAyMTkgQzIxLjIwMjg5OTcsMC4zNDc1NTY5NyAyMy43OTA1MTgsMC4zNDU3OTMyNjggMjUuMzk3MTU0NSwwLjc3NjI5MDIxOSBMMzAuODUyODQ1NSwyLjIzODEzODIgQzMyLjQ1Mjg5OTcsMi42NjY4NzE0NSAzNC42OTQ3MjQ4LDMuOTU5MTUzMTkgMzUuODcwODY0Myw1LjEzNTI5Mjc0IEwzOS44NjQ3MDczLDkuMTI5MTM1NjggQzQxLjAzNjAyODMsMTAuMzAwNDU2NyA0Mi4zMzEzNjQ5LDEyLjU0MDUxOCA0Mi43NjE4NjE4LDE0LjE0NzE1NDUgTDQ0LjIyMzcwOTgsMTkuNjAyODQ1NSBDNDQuNjUyNDQzLDIxLjIwMjg5OTcgNDQuNjU0MjA2NywyMy43OTA1MTggNDQuMjIzNzA5OCwyNS4zOTcxNTQ1IEw0Mi43NjE4NjE4LDMwLjg1Mjg0NTUgQzQyLjMzMzEyODYsMzIuNDUyODk5NyA0MS4wNDA4NDY4LDM0LjY5NDcyNDggMzkuODY0NzA3MywzNS44NzA4NjQzIEwzNS44NzA4NjQzLDM5Ljg2NDcwNzMgQzM0LjY5OTU0MzMsNDEuMDM2MDI4MyAzMi40NTk0ODIsNDIuMzMxMzY0OSAzMC44NTI4NDU1LDQyLjc2MTg2MTggTDI1LjM5NzE1NDUsNDQuMjIzNzA5OCBDMjMuNzk3MTAwMyw0NC42NTI0NDMgMjEuMjA5NDgyLDQ0LjY1NDIwNjcgMTkuNjAyODQ1NSw0NC4yMjM3MDk4IEwxNC4xNDcxNTQ1LDQyLjc2MTg2MTggQzEyLjU0NzEwMDMsNDIuMzMzMTI4NiAxMC4zMDUyNzUyLDQxLjA0MDg0NjggOS4xMjkxMzU2OCwzOS44NjQ3MDczIEw1LjEzNTI5Mjc0LDM1Ljg3MDg2NDMgQzMuOTYzOTcxNzEsMzQuNjk5NTQzMyAyLjY2ODYzNTE1LDMyLjQ1OTQ4MiAyLjIzODEzODIsMzAuODUyODQ1NSBMMC43NzYyOTAyMTksMjUuMzk3MTU0NSBDMC4zNDc1NTY5NywyMy43OTcxMDAzIDAuMzQ1NzkzMjY4LDIxLjIwOTQ4MiAwLjc3NjI5MDIxOSwxOS42MDI4NDU1IEwyLjIzODEzODIsMTQuMTQ3MTU0NSBDMi42NjY4NzE0NSwxMi41NDcxMDAzIDMuOTU5MTUzMTksMTAuMzA1Mjc1MiA1LjEzNTI5Mjc0LDkuMTI5MTM1NjggTDkuMTI5MTM1NjgsNS4xMzUyOTI3NCBDMTAuMzAwNDU2NywzLjk2Mzk3MTcxIDEyLjU0MDUxOCwyLjY2ODYzNTE1IDE0LjE0NzE1NDUsMi4yMzgxMzgyIEwxOS42MDI4NDU1LDAuNzc2MjkwMjE5IFogTTIwLjMsMTUuNjY0IEMxOC43NjQsMTQuODk2IDE2LjM4OCwxMy44MTYgMTMuOTE2LDEzLjgxNiBDMTAuNTU2LDEzLjgxNiA3LjU1NiwxNS44MDggNy41NTYsMTkuNTc2IEM3LjU1NiwyMi4wNzIgOC44NzYsMjMuMzQ0IDExLjg3NiwyNC4zNTIgQzEzLjkxNiwyNS4wNDggMTUuNjY4LDI1LjI2NCAxNS42NjgsMjYuMjQ4IEMxNS42NjgsMjYuNzA0IDE1LjMwOCwyNi45OTIgMTQuMywyNi45OTIgQzExLjY4NCwyNi45OTIgOC44MjgsMjUuMTIgOC44MjgsMjUuMTIgTDYuODEyLDI5LjIyNCBDOC44NTIsMzAuNDI0IDExLjc1NiwzMS4yMTYgMTQuMjI4LDMxLjIxNiBDMTcuMzk2LDMxLjIxNiAyMC43MDgsMjkuODk2IDIwLjcwOCwyNS43OTIgQzIwLjcwOCwyMi42IDE4LjcxNiwyMS40OTYgMTUuNTcyLDIwLjUxMiBDMTMuNjA0LDE5Ljg4OCAxMi40MDQsMTkuNjk2IDEyLjQwNCwxOC44MDggQzEyLjQwNCwxOC4yMDggMTIuOTU2LDE3Ljk2OCAxMy43NzIsMTcuOTY4IEMxNS44MTIsMTcuOTY4IDE4LjI4NCwxOS41MjggMTguMjg0LDE5LjUyOCBMMjAuMywxNS42NjQgWiBNMjkuMzI0LDMxIEMzNC41MDgsMzEgMzcuOTE2LDI3LjYxNiAzNy45MTYsMjIuNDU2IEMzNy45MTYsMTcuNzUyIDM0Ljk4OCwxMy45NiAyOS4zMjQsMTMuOTYgTDIyLjc3MiwxMy45NiBMMjIuNzcyLDMxIEwyOS4zMjQsMzEgWiBNMzMuMTY0LDIyLjQ1NiBDMzMuMTY0LDI1LjAyNCAzMS43NzIsMjYuOTIgMjkuMzI0LDI2LjkyIEwyNy40NTIsMjYuOTIgTDI3LjQ1MiwxOC4wNCBMMjkuMzI0LDE4LjA0IEMzMS43MjQsMTguMDQgMzMuMTY0LDE5LjgxNiAzMy4xNjQsMjIuNDU2IFoiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=',
            svg
        )
    );
    background-position: center center;
    background-site: em(45px, 14px) em(45px, 14px);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: em(45px, 14px);
    position: absolute;
    right: 0;
    top: 50%;
    width: em(45px, 14px);

    @include transform(translateY(-50%));
}

.footer__branding span {
    @extend %visuallyhidden;
}
