.logo-mark {
    span {
        display: block;
        float: left;
        text-transform: lowercase;
    }
    .s {
        color: $logoServiceColor;
    }
    .d {
        color: $logoDocsColor;
    }
}
