$navigation-item-font-size: 18px;

.navigation {
    padding: 0 em(20px);
    background: $dark-blue;
    @include clearfix;
}

.navigation-logo,
.navigation-list {
    display: inline-block;
}

.navigation-logo {
    display: block;
    float: left;
    padding: em(12px, 20px) em(30px, 20px) em(15px, 20px) 0;
    font-size: em(20px);
    text-decoration: none;
}

.navigation-list {
    margin: 0 auto;
    padding: 0;
}

.navigation-item {
    display: inline-block;
    font-size: em($navigation-item-font-size);
}

.navigation-item-control {
    display: block;
    padding: em(14px, $navigation-item-font-size) em(12px, $navigation-item-font-size) em(15px, $navigation-item-font-size);
    color: lighten($white, 10%);
    text-decoration: none;
    @include transition(color 0.25s ease-out);
    &:active {
        color: $white;
    }
    @media only screen and (min-width: 31.875em) {
        padding: em(14px, $navigation-item-font-size) em(26px, $navigation-item-font-size) em(15px, $navigation-item-font-size);
    }
    span {
        @extend %visuallyhidden;
    }
}

.navigation-item-control::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
}

.navigation-item-search .navigation-item-control::before {
    background: url(
        inline-image(
            'PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlNlYXJjaDwvdGl0bGU+PGRlZnM+PC9kZWZzPjxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIGlkPSJzZWFyY2giIGZpbGw9IiNGRUZERkQiPjxwYXRoIGQ9Ik0xNC4wMzA1NDU3LDE0LjkyODc5OTMgTDEwLjUwNzE2NTUsMTEuNjE1MjMyMyBDOS41NDE0OTgzNywxMi4yMDk0NjIzIDguMzg3MzM3NjIsMTIuNTU3OTM5OCA3LjE0MTk5MTA5LDEyLjU1NzkzOTggQzMuNzQ2MjA2NTksMTIuNTU3OTM5OCAxLDkuOTY5NTA5MTYgMSw2Ljc3NTkzOTY3IEMxLDMuNTg4NDMwNjUgMy43NDU4ODQzOCwxIDcuMTQxOTkxMDksMSBDMTAuNTMxOTc1OCwxIDEzLjI4MzMzNzgsMy41ODg0MzA2NSAxMy4yODMzMzc4LDYuNzc1OTM5NjcgQzEzLjI4MzMzNzgsNy44OTA3NjQ4MSAxMi45NDk1MjY5LDguOTI5NTMwOTQgMTIuMzcyMTI0Myw5LjgwOTUxMjUxIEwxNS45MjA2MzY5LDEzLjE0NjEwOTMgQzE2LjEwODQ4NjEsMTMuMzE3OTIzOSAxNS45NTA5MjQ4LDEzLjc0NjM5OTggMTUuNTczOTM3NiwxNC4xMDAwMjg3IEwxNS4wNDU1MTEyLDE0LjU5ODIwMDEgQzE0LjY2ODUyNCwxNC45NTE4MjkxIDE0LjIxMjkxNzMsMTUuMTAwMDA3OCAxNC4wMzA1NDU3LDE0LjkyODc5OTMgTDE0LjAzMDU0NTcsMTQuOTI4Nzk5MyBaIE0xMS4yNDI0NTE2LDYuNzc1OTM5NjcgQzExLjI0MjQ1MTYsNC42NDQ3NzIxNyA5LjQwNzQ1ODQ4LDIuOTE5MzUzNzUgNy4xNDE2Njg4OCwyLjkxOTM1Mzc1IEM0Ljg3NTU1NzA3LDIuOTE5MzUzNzUgMy4wMzUwODYzNCw0LjY0NDc3MjE3IDMuMDM1MDg2MzQsNi43NzU5Mzk2NyBDMy4wMzUwODYzNCw4LjkwNzEwNzE2IDQuODc1NTU3MDcsMTAuNjM3OTggNy4xNDE2Njg4OCwxMC42Mzc5OCBDOS40MDc0NTg0OCwxMC42Mzc5OCAxMS4yNDI0NTE2LDguOTA3NDEwMTkgMTEuMjQyNDUxNiw2Ljc3NTkzOTY3IEwxMS4yNDI0NTE2LDYuNzc1OTM5NjcgWiIgaWQ9IlNoYXBlIj48L3BhdGg+PC9nPjwvZz48L3N2Zz4K',
            svg
        )
    ) no-repeat center center;
}

.navigation-item-directory .navigation-item-control::before {
    background: url(
        inline-image(
            'PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPkRpcmVjdG9yeTwvdGl0bGU+PGRlZnM+PC9kZWZzPjxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIGlkPSJkaXJlY3RvcnkiIGZpbGw9IiNGRUZERkQiPjxnIGlkPSJEaXJlY3RvcnktaWNvbiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDEuMDAwMDAwKSI+PHBhdGggZD0iTTkuNDk3NDQ1NzgsMy44MjA0MjI1NCBDMTEuNzU4ODQzNCwyLjU1ODg0NTA3IDE0LjEwNDQ4MTksMy40NzEyMTEyNyAxNC4xMDQ0ODE5LDMuNDcxMjExMjcgTDE0LjEwNDQ4MTksNC42NDEwOTg1OSBDMTQuMTA0NDgxOSw0LjY0MTA5ODU5IDExLjgyMzIyODksMy44NzMyNjc2MSA5LjQ5NzQ0NTc4LDUuMDQxNzc0NjUgTDkuNDk3NDQ1NzgsMy44MjA0MjI1NCBaIE05LjQ5NzQ0NTc4LDYuMTUzNjkwMTQgQzExLjc1ODg0MzQsNC44OTIxMTI2OCAxNC4xMDQ0ODE5LDUuODA0NDc4ODcgMTQuMTA0NDgxOSw1LjgwNDQ3ODg3IEwxNC4xMDQ0ODE5LDYuOTc0NTYzMzggQzE0LjEwNDQ4MTksNi45NzQ1NjMzOCAxMS44MjMyMjg5LDYuMjA2NzMyMzkgOS40OTc0NDU3OCw3LjM3NTA0MjI1IEw5LjQ5NzQ0NTc4LDYuMTUzNjkwMTQgWiBNOS40OTc0NDU3OCw4LjQ4NzE1NDkzIEMxMS43NTg4NDM0LDcuMjI1NTc3NDYgMTQuMTA0NDgxOSw4LjEzNzk0MzY2IDE0LjEwNDQ4MTksOC4xMzc5NDM2NiBMMTQuMTA0NDgxOSw5LjMwNzgzMDk5IEMxNC4xMDQ0ODE5LDkuMzA3ODMwOTkgMTEuODIzMjI4OSw4LjU0IDkuNDk3NDQ1NzgsOS43MDg1MDcwNCBMOS40OTc0NDU3OCw4LjQ4NzE1NDkzIFoiIGlkPSJTaGFwZSI+PC9wYXRoPjxwYXRoIGQ9Ik03Ljk2NzgwNzIzLDEuMjM4MzA5ODYgQzQuNTIyOTg3OTUsLTEuMjM1MTU0OTMgMCwwLjcxODUzNTIxMSAwLDAuNzE4NTM1MjExIEwwLDEzLjUzNTQzNjYgQzAsMTMuNTM1NDM2NiA0LjQzMzczNDk0LDEyLjE1NTE1NDkgNy41OTk2MTQ0NiwxMy45ODg3NjA2IEw3LjYyMDYyNjUxLDE0IEw3LjkwMzQyMTY5LDE0IEw4LjAzMjE5Mjc3LDE0IEw4LjMxNDk4Nzk1LDE0IEw4LjMzNiwxMy45ODg1NjM0IEMxMS41MDE4Nzk1LDEyLjE1NDk1NzcgMTUuOTM1NjE0NSwxMy41MzUyMzk0IDE1LjkzNTYxNDUsMTMuNTM1MjM5NCBMMTUuOTM1NjE0NSwwLjcxODMzODAyOCBDMTUuOTM1NjE0NSwwLjcxODUzNTIxMSAxMS40MTI0MzM3LC0xLjIzNTE1NDkzIDcuOTY3ODA3MjMsMS4yMzgzMDk4NiBMNy45Njc4MDcyMywxLjIzODMwOTg2IFogTTcuNTQ3OTUxODEsMTIuNjQ4OTAxNCBDNC40OTc5Mjc3MSwxMC45MDYxOTcyIDEuMTM2Mzg1NTQsMTEuOTY5NjA1NiAxLjEzNjM4NTU0LDExLjk2OTYwNTYgTDEuMTM2Mzg1NTQsMS42Mzg1OTE1NSBDMS4xMzYzODU1NCwxLjYzODU5MTU1IDQuNDMzNTQyMTcsMC4yNTgzMDk4NTkgNy41NDc5NTE4MSwyLjI4ODExMjY4IEw3LjU0Nzk1MTgxLDEyLjY0ODkwMTQgTDcuNTQ3OTUxODEsMTIuNjQ4OTAxNCBaIE0xNC43OTkyMjg5LDExLjk2OTYwNTYgQzE0Ljc5OTIyODksMTEuOTY5NjA1NiAxMS40Mzc2ODY3LDEwLjkwNjE5NzIgOC4zODc2NjI2NSwxMi42NDg5MDE0IEw4LjM4NzY2MjY1LDIuMjg4MTEyNjggQzExLjUwMTg3OTUsMC4yNTgzMDk4NTkgMTQuNzk5MjI4OSwxLjYzODU5MTU1IDE0Ljc5OTIyODksMS42Mzg1OTE1NSBMMTQuNzk5MjI4OSwxMS45Njk2MDU2IEwxNC43OTkyMjg5LDExLjk2OTYwNTYgWiIgaWQ9IlNoYXBlIj48L3BhdGg+PHBhdGggZD0iTTYuNDM4MTY4NjcsMy44MjA0MjI1NCBDNC4xNzY3NzEwOCwyLjU1ODg0NTA3IDEuODMxMTMyNTMsMy40NzEyMTEyNyAxLjgzMTEzMjUzLDMuNDcxMjExMjcgTDEuODMxMTMyNTMsNC42NDEwOTg1OSBDMS44MzExMzI1Myw0LjY0MTA5ODU5IDQuMTEyMzg1NTQsMy44NzMyNjc2MSA2LjQzODE2ODY3LDUuMDQxNzc0NjUgTDYuNDM4MTY4NjcsMy44MjA0MjI1NCBaIE02LjQzODE2ODY3LDYuMTUzNjkwMTQgQzQuMTc2NzcxMDgsNC44OTIxMTI2OCAxLjgzMTEzMjUzLDUuODA0NDc4ODcgMS44MzExMzI1Myw1LjgwNDQ3ODg3IEwxLjgzMTEzMjUzLDYuOTc0NTYzMzggQzEuODMxMTMyNTMsNi45NzQ1NjMzOCA0LjExMjM4NTU0LDYuMjA2NzMyMzkgNi40MzgxNjg2Nyw3LjM3NTA0MjI1IEw2LjQzODE2ODY3LDYuMTUzNjkwMTQgWiBNNi40MzgxNjg2Nyw4LjQ4NzE1NDkzIEM0LjE3Njc3MTA4LDcuMjI1NTc3NDYgMS44MzExMzI1Myw4LjEzNzk0MzY2IDEuODMxMTMyNTMsOC4xMzc5NDM2NiBMMS44MzExMzI1Myw5LjMwNzgzMDk5IEMxLjgzMTEzMjUzLDkuMzA3ODMwOTkgNC4xMTIzODU1NCw4LjU0IDYuNDM4MTY4NjcsOS43MDg1MDcwNCBMNi40MzgxNjg2Nyw4LjQ4NzE1NDkzIFoiIGlkPSJTaGFwZSI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPgo=',
            svg
        )
    ) no-repeat center center;
}
