.navigation {
    background-color: $navigation-background-color;
    border-style: $navigation-border-style;
    border-color: $navigation-border-color;
    border-width: $navigation-border-width;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__item {
    display: inline-block;
}

.navigation__item-link {
    display: block;
    font-size: em($navigation-font-size);
    font-weight: $navigation-font-weight;
    color: $navigation-text-color;
    text-decoration: none;
    text-transform: uppercase;
    padding: em(13px, 12px) em(20px, 12px);
}
