.page-header {
    background: #fff;
    margin: em(65px) 0 em(7px);
    min-height: em(138px);
    padding: em(30px) em(20px) em(15px);
    box-shadow: 0 2px 4px rgba(212, 212, 212, .4);
    @include box-sizing(border-box);
}

.page-header-title {
    font-size: em($page-title-size);
    color: $mid-grey;
    margin: 0;
}

.page-header-subhead {
    font-size: em($page-subhead-size);
    color: $mid-grey;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    margin: em(10px) 0 0;
}

.page-header-back-link {
    font-size: em(16px);
    display: inline-block;
    margin: 0 0 0 em(-15.5px);
    padding: em(20px, 16px) 0;
    color: lighten($mid-grey, 15%);
    @include transition(color 0.2s ease-out);
    text-decoration: none;
    &:active {
        color: lighten($mid-grey, 10%);
    }
    &::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        background: url(
            inline-image(
                'PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPmJhY2stY2FyZXQ8L3RpdGxlPjxwYXRoIGQ9Ik0zLjM2MSA2bDQuMTQ4LTQuMTQ4LTEuNTA4LTEuNTA4LTQuOTAyIDQuOTAyLS43NTQuNzU0IDUuNjU2IDUuNjU2IDEuNTA4LTEuNTA4LTQuMTQ4LTQuMTQ4eiIgZmlsbD0iI0FGQUZBRiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIvPjwvc3ZnPg==',
                'svg'
            )
        ) no-repeat center center;
        vertical-align: text-bottom;
    }
}

@import "page-header/endpoint-header.scss";

