.section-title {
    font-weight: 600;
    font-size: em(24px);
    color: $primary-text-color;
    margin: 0 0 em(35px, 24px);

    @include font-smoothing;
}

.section-title--centered {
    @extend .section-title;
    text-align: center;
}
