.sidebar {
    padding: em(20px);
    @media only screen and (min-width: em(1000px, 16px)) {
        padding:
            em(20px)
            em(40px)
            em(20px)
            em(20px);
        float: left;
        @include clearfix();
        @include box-sizing(border-box);
        width: 30%;
        .csscalc & {
            width: em(302px);
        }
    }
    @media only screen and (min-width: em(1284px, 16px)) {
        .no-js &,
        .no-csscalc & {
            width: 26%;
        }
    }
    @media only screen and (min-width: em(1440px, 16px)) {
        .no-js &,
        .no-csscalc & {
            width: 23.5%;
        }
    }
}

.sidebar + .page-body {
    @media only screen and (min-width: em(1000px, 16px)) {
        float: right;
        @include clearfix();
        width: 70%;
        .csscalc & {
            @include calc(width, "100% - #{em(302px)}");
        }
    }
    @media only screen and (min-width: em(1284px, 16px)) {
        .no-js &,
        .no-csscalc & {
            width: 74%;
        }
    }
    @media only screen and (min-width: em(1440px, 16px)) {
        .no-js &,
        .no-csscalc & {
            width: 76.5%;
        }
    }
}

.sidebar-property {
    margin-bottom: em(38px);
}

.sidebar-property-key {
    font-size: em(16px);
    line-height: 1;
    margin-bottom: em(28px);
}

.sidebar-property-value {
    font-size: em(18px);
    font-weight: 300;
    margin: 0 0 em(8px) 0;
}

